:root {
    --bgColor: #fafa36;
    --fgColor: #fcfcfc;
    --fgDarkColor: #f1f1f1;
    --highlightColor: #2058ff;
    --mainFontColor: #242424;
    --winColor: #00ff00;
    --loseColor: #ff0000;
    font-size: 1.2em;
    font-family: monospace;
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 0.5em;
    color: var(--mainFontColor);
}

body {
    background-color: var(--bgColor);
    margin: 1rem;
    max-height: 95vh;
    /* footer height */
    padding-bottom: 5em;
}

body,
footer,
section,
.card {
    display: flex;
    justify-content: center;
}

.card {
    background-color: var(--fgColor);
    flex-direction: column;
    justify-content: space-around;
    padding: 1em;
    gap: 1em;
}

h1 {
    font-size: 2em;
}

/* announcement section style */
section>h2 {
    padding: 0.5em 0;
    font-size: 1em;
    font-weight: 500;
    background-color: var(--highlightColor);
    color: var(--fgColor);
}

section {
    flex-direction: column;
    justify-content: space-evenly;
}

section>* {
    background-color: var(--fgDarkColor);
}

.container {
    display: flex;
    padding: 1em;
    justify-content: space-around;
}

.container>div,
.container>button {
    width: 5em;
    height: 5em;
    padding: 0.5em;
    background-color: var(--fgColor);
}

.announcement>.container>div {
    border: solid var(--highlightColor);
}

.announcement>.container span {
    align-self: center;
    font-size: 1.5em;
    font-weight: 500;
    padding: 0 0.5em;
}

.announcement>p {
    padding-bottom: 0.5em;
    min-height: 2em;
}

.announcement>.gameOver {
    font-size: 3em;
    padding: 0;
    color: var(--winColor);
    border-radius: 0.2em 0.2em 0 0;
}

.gameOver.computerWon {
    color: var(--loseColor);
}

/* announce moves selected by both parties image */
.announcement>.container>.rock {
    background: url('./icons/rock.png') no-repeat center;
    background-size: 3em;
}

.announcement>.container>.paper {
    background: url('./icons/paper.png') no-repeat center;
    background-size: 3em;
}

.announcement>.container>.scissors {
    background: url('./icons/scissors.png') no-repeat center;
    background-size: 3em;
}

/* scoreBoard style */
.scoreBoard h2 {
    font-size: 1.1em;
    font-weight: 600;
}

.scoreBoard p {
    padding: 0.5em 1em;
}

.scoreBoard div {
    text-align: left;
    min-height: 5em;
    height: 30vh;
    overflow-y: scroll;
}

.scoreBoard {
    min-height: 5em;
}

@media (orientation: landscape) {
    .card {
        /* landscape mode UI overflow bug fix */
        padding-bottom: 5em;
        overflow-y: scroll;
        min-height: 45em;
    }
}

/* footer style */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5em;
    padding: 1em;
    background-color: var(--highlightColor);
    justify-content: space-evenly;
    align-items: center;
}

a {
    text-decoration: none;
}

footer>* {
    padding: 0.5em;
    background-color: var(--fgColor);
}

footer img {
    width: 34px;
    height: auto;
}

/* additional section separation removal */
section> :first-child {
    border-radius: 0.5em 0.5em 0 0;
}

section> :last-child {
    border-radius: 0 0 0.5em 0.5em;
}