:root {
    --bgColor: #fafa36;
    --fgColor: #fcfcfc;
    --fgDarkColor: #f1f1f1;
    --highlightColor: #2058ff;
    --mainFontColor: #242424;
    font-size: 1.2em;
    font-family: monospace;
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 0.4em;
    color: var(--mainFontColor);
}

body {
    background-color: var(--bgColor);
    margin: 1.5em;
}

body,
footer,
section,
.card {
    display: flex;
    justify-content: center;
}

.card {
    background-color: var(--fgColor);
    flex-direction: column;
    justify-content: space-around;
    padding: 1em;
    gap: 1.1em;
}

h1 {
    font-size: 1.8em;
}

/* announcement section style */
P {
    padding: 0.5em 0;
}

section {
    flex-direction: column;
    justify-content: space-evenly;
}

section>* {
    background-color: var(--fgDarkColor);
}

.container {
    display: flex;
    padding: 1em;
    justify-content: space-around;
}

.container>div,
.container>button {
    width: 4.5em;
    height: 4.5em;
    background-color: var(--fgColor);
}

.announcement>.container>div {
    border: solid var(--highlightColor);
}

.announcement>.container span {
    align-self: center;
    font-size: 1.5em;
    font-weight: 500;
}

/* footer style */
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1em;
    background-color: var(--highlightColor);
    height: 5em;
    justify-content: space-evenly;
    align-items: center;
}

a {
    text-decoration: none;
}

footer>* {
    padding: 0.5em;
    background-color: var(--fgColor);
}

footer img {
    width: 34px;
    height: auto;
}